/*
    LAYOUT / NAVBAR
*/
/*html, body {*//*
    height: 100vh;
    width:100vw;*/
    /*margin: 0;
    padding: 0;
}*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    font-family:"Poppins";
}

body {
    display: block;
    width: 100%;
}

main {
    flex: 1; /* Takes up all available space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Or center if you want vertical centering */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    width: 100%;
    height:100%;
}
.tab {
    background-color: #e7d9ff;
    box-shadow: 0em 0.2em 2em 0.5em rgba(0,0,0, 20%);
    /*background: linear-gradient(0deg,rgba(231, 217, 255, 1) 0%, rgba(154, 70, 228, 1) 100%);*/
}
/*.main-layout{
    height:100%;


}*/
#tab-container{
    justify-content:space-evenly;
    justify-self:left;
    display:flex;
    width:30%
}
.input-field {
    width: 100%;
    border-radius: 5em;
    background-color: #F0F0F0;
    border: none;
    height: 3em;
    color: #737373;
    padding: 1% 2% 1% 2%;
    font-size: 1em;
    flex-grow: 1;
    font-style: italic;
}


.vertical {
    flex-direction: column;
}
.input {
    position: relative;
    padding: 3% 0 2% 0;
}
.left {
    text-align: left;
    align-self: flex-start;
    align-items: flex-start;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin: 0;
    text-align: center;
}

.dropdown-toggle {
    font-size: 1em;
}

.tab-element p{
    margin:0;
    font-size:1em;
    font-weight:700;
}


.tab-element{
    margin:0.5em;
}
.limited-height {
    height: 80px; /* Or any height you want */
    display: flex;
    align-items: center;
}

    .limited-height .col-6,
    .limited-height .col-3 {
        height: 100%;
        display: flex;
        align-items: center;
    }

#container-fluid {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px; /* spacing between items */
}

#logo {
    height: 100%;
    max-height: 100%;
    object-fit: contain;
    padding:0.5em;
}

#handsify-title {
    font-size: 2em; /* Responsive font size relative to height */
    margin: 0;
    font-weight: 600;
    color: #C7A7FE; 
    margin-left:2em;
}

.text {
    font-size: 1em; /* Adjust text inside user info */
    color: #C7A7FE;
}

.tab i {
    color: #C7A7FE;


}


/*#logo {
    
    padding: 0.75em;
}
#handsify-title {
    font-size: 3em;
    padding-left: 1em;
    font-family: "Poppins";
    font-weight: 600;
    color: #7C74E9;
}
*/
.container-fluid.filled {
    background-color: #e0e0e0;
    padding: 1em;
    max-height:70vh;
    overflow: hidden;
    border-radius: 1em;
    border: solid 0.5em #C7A7FE;

}



.content{
    max-height:80%;
}

.online-status{
    border-radius:100%;
    height:1.5em;
    width:1.5em;
    margin-left: 1em;
}

    .online-status.online {
        background-color: #68de5f;
    }

    .online-status.offline {
        background-color: #eb3f5f;
    }

  /*notes*/

.notes-container{
    display:flex;
    flex-direction:column;
    overflow:auto;
    height:100%;
    padding:1em;
    row-gap:1em;
    flex-shrink:2;
}

    .notes-container::-webkit-scrollbar {
        width: 1em;
    }

    .notes-container::-webkit-scrollbar-track {
        background: #ededed;
        border-radius: 1em;
    }

    .notes-container::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 1em;
    }

        .notes-container::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }


.note-box {
    border-radius: 1em;
    background-color: #ededed;
    padding:1em;
    box-shadow: 0 0 0.5em 0 rgb(0,0,0,50%);
}

    .note-box-info {
        font-style: italic;
        color: #858585;
        font-size:0.75em;
    }
#note-field-input {
    background-color: #ededed;
    padding: 0.5em;
    border:none;
    display:block;
    width: 100%;
}

#note-field{
    color:black;
    padding-left:1em;
}

.add-note-btn {
    justify-self:left;
    background-color: #ededed;
    border-radius: 1em;
    font-size: 1em;
    color:black;
    display: flex;
    flex-direction: row;
    padding: 0.3em;
    align-items: center;
    width: fit-content;
    box-shadow: 0 0 0.5em 0 rgb(0,0,0,50%);
}   #note-field-input::-webkit-scrollbar {
        width: 0.5em;
    }

    #note-field-input::-webkit-scrollbar-track {
        background: #ededed;
        border-radius: 0.5em;
    }

    #note-field-input::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 0.5em;
    }

    #note-field-input::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

/*typeography*/
.label {
    font-style: italic;
    color: #a8a8a8;
    margin-bottom:0;
    font-size:0.75em;
}

/*
    BOOTSTRAP OVERRIDES
*/

button{
    background:none;
}

.icon{
    width:1.2em;
    height:auto;
    transition: ease-in-out width 0.2s;
}
    .icon:hover {
        width: 1.5em;
    }

.btn.disabled{
    display: none;
}

.btn-link{
    border:none;
}



#podMapCanvas {
    width: 100%;
    height: 100%;
    border-radius: 2em;
    outline: solid 0.5em #C7A7FE;
    margin:1em;
    display: block;
}

.canvas-container {
    position: relative;
    height: 100%;
    max-width: 60%;
}
@media only screen and (min-width: 1920px) {
    .canvas-container {
        position: relative;
        height: 100%;
        max-width: 70%;
    }
}

    .login-user-info {
        align-self: flex-end;
        /*margin-bottom:2em;*/
    }

    .login-label {
        font-size: 1.5em;
        align-self: flex-start;
    }
}
.login-button {
    background-color: #C7A7FE;
}
.login {
    max-width: 40em !important;
}
.name-and-logo {
    display: flex;
    flex-direction: row;
    /*width: 50%;*/
    text-align: left;
    align-items: Center;
    height:20%;
    font-size:4em;
}
.button {
    border: none;
    border-radius: 5em;
    padding: 1em 1.5em 1em 1.5em;
    font-size: 1.5em;
    color: white;
    background-color: #C7A7FE;
    margin: 2%;
    transition: background-color 0.3s ease-in-out;
}
#title{
    margin:0;
}

#login-logo {
    height:100%;
    padding:0.3em;
}
#login-input {
    align-self: center !important;
    padding: 0 0 1em 0;
    width: 40%;
    margin: 0;
}
.text{
    font-family: Poppins;
}
.accent {
    color: #C7A7FE;
}

#login-user-input {
    margin: 0;
    align-items: center;
    background-color: #e7d9ff;
    height: 100vh;
    width: 100%;
}

p{
    margin:0;
}


.station-info-container {
    overflow-y: auto;

}
.info-and-legend {
    width: 25%;
    overflow-y: auto; 
    justify-content:space-between;
    display:flex;
    flex-direction:column;
    padding: 0em 0em 0em 2em; 
}

#legend {
    background-color: #e0e0e0;
    padding: 1em;
    height: 2em;
    border-radius: 1em;
    border: solid 0.5em #C7A7FE;
    align-self: flex-end;
}


#login-username-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0em;
    width: 40%;
    margin: 0em auto;
    text-align: center;
}
#login-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 40%;
    margin: 1em auto;
    text-align: center;
}


#login-message {
    font-style: italic;
    font-size: 2em;
    color: #D3B5FF;
}
